#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_build:
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	install -d debian/vadermodularfuzzer/usr/share/doc/vadermodularfuzzer
	install -m 644 README.md debian/vadermodularfuzzer/usr/share/doc/vadermodularfuzzer/
	install -m 644 LICENSE debian/vadermodularfuzzer/usr/share/doc/vadermodularfuzzer/

override_dh_auto_test:
	# Add test commands here if needed
	true

override_dh_auto_clean:
	dh_auto_clean
	rm -rf debian/vadermodularfuzzer 